* {
  font-family: "Poppins";
}

section.main {
  background-image: url("Imagenes/fondo.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img.eleccion{
  height: -webkit-fill-available;
  object-fit: cover;
  object-position: right;
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.contact-bg {
  background: linear-gradient(135deg, rgba(36, 34, 35, 0.7) 0%, rgba(59, 58, 58, 0.9) 100%), url('https://images.unsplash.com/photo-1631856956334-35db20cb7748?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}